<!-- <div class="modal top am-fade-and-slide-top" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title">{{title}}</h4>
			</div>
			<div class="modal-body" >
				<div >{{content}}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="$hide()">确定</button>			
			</div>
		</div>
	</div>
</div> -->
<div class="modal top am-fade-ande-slide-top" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" ng-click="$hide()">x</button>
				<h4 class="modal-title">{{title}}</h4>
			</div>
			<div class="modal-body">
				<div>{{content}}</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="$hide()">确定</button>
			</div>
		</div>
	</div>
</div>