// Star rating
.rating {
	display: inline-block;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		list-style-type: none;
		padding: 1px;
		font-size: 18px;
		color: #c9c9c9;
		text-shadow: .05em .05em #aaa;
		cursor: pointer;
		&.filled {
			color: #ffbb15;
		}
	}
	&.readonly {
		li.filled {
			color: #666;
			//font-size: 16px;
		}
	}
}
