<ul class="pagination" ng-show="totalPage>1">
	<li ng-class="{true:'active'}[currentPage==1]"><a href="javascript:void(0)"
													  ng-click="currentPage=1;getData()">首页</a></li>
	<li ng-class="{true:'disabled'}[currentPage==1]"><a href="javascript:void(0);" ng-click="prev()">上一页</a></li>
	<li ng-repeat="page in pages" ng-class="{true:'active',false:''}[currentPage==page]"><a href="javascript:void(0);"
																							ng-click="getData(page)">{{
		page }}</a></li>
	<li ng-class="{true:'disabled'}[currentPage==totalPage]"><a href="javascript:void(0);" ng-click="next()">下一页</a>
	</li>
	<li ng-class="{true:'active'}[currentPage==totalPage]"><a href="javascript:void(0)"
															  ng-click="currentPage=totalPage;getData()">末页</a></li>
</ul>

<h1>xx</h1>
<a ui-sref="state1">state1</a>
<a ui-sref="state2">state2</a>
<div ui-view></div>

<h1>Multiple & Named Views</h1>
<a ui-sref="index">index</a>
<a ui-sref="route1">Route1</a>
<a ui-sref="route2">Route2</a>
<div ui-view="viewA"></div>
<div ui-view="viewB"></div>
<br>

<div ng-init="msg='text for alert'">
    <h2>angular-ui-bootstrap2.1.4</h2>
    <p>Select a tab by setting active binding to true:</p>
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="active = 1">Select second tab</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="active = 2">Select third tab</button>
    </p>
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
    </p>
    <hr />

    <uib-tabset active="active">
        <uib-tab index="0" heading="Static title">Static content</uib-tab>
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
            {{tab.content}}
        </uib-tab>
        <uib-tab index="3" select="alertMe()">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-bell"></i> Alert!
            </uib-tab-heading>
            I've got an HTML heading, and a select callback. Pretty cool!
        </uib-tab>
    </uib-tabset>

    <hr />
    <uib-tabset active="activePill" vertical="true" type="pills">
        <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
        <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
    </uib-tabset>

    <hr />
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Justified">Justified content</uib-tab>
        <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
        <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
    </uib-tabset>

    <hr />


    <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal"><i class="fa fa-check"></i>Click to toggle modal
        <br />
        <small>(using an object)</small>
    </button>

    <h2>Custom Alert Service</h2>
    <input ng-model="msg" />
    <button ng-click="message(msg);">Click me</button>
    <p>{{msg}}</p>

    <h2>select2</h2>
    <div class="row">
        <div class="col-md-2">单选下拉</div>
        <div class="col-md-5">
            <select ui-select2="vm.option1" ng-model="vm.value1" style="width: 100%">
                <option value="one">First</option>
                <option value="two">Second</option>
                <option value="three">Third</option>
            </select>
        </div>
        <div class="col-md-5">{{vm.value1}}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">多选输入</div>
        <div class="col-md-5">
            <input type="text" ui-select2="vm.option2" ng-model="vm.value2" ng-model="vm.value2" style="width: 100%"/>
        </div>
        <div class="col-md-5">{{vm.value2}}</div>
    </div>

</div>