<div class="modal top am-fade-and-slide-top" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
			  <button type="button" class="close" ng-click="$hide()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">WARNING</h4>
			</div>
			
			<div class="modal-body" >
				<h4 class="count-down text-center"><a class="modal-body-link special" href=""><i class="fa fa-clock-o"></i>Jump consultant workbench<span class="count">5</span>second</a></h4>
				
				<!-- form end -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="$hide();toWork()">OK</button>
				<button type="button" class="btn btn-default" ng-click="$hide();">Cancel</button>
			</div>

		</div>
	</div>
</div>