<!DOCTYPE html>
<html ng-app="alertApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Angular Examples(manual operation:seting,files...)</title>
    <link rel="stylesheet" href="/components/bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/components/font-awesome-4.6.3/css/font-awesome.css"/>
	<link rel="stylesheet" href="/components/select2/select2.css">
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>
	<h1>xx</h1>
	<a ui-sref="state1">state1</a>
	<a ui-sref="state2">state2</a>
	<div ui-view></div>

	<h1>Multiple & Named Views</h1>
	<a ui-sref="index">index</a>
	<a ui-sref="route1">Route1</a>
	<a ui-sref="route2">Route2</a>
	<div ui-view="viewA"></div>
	<div ui-view="viewB"></div>
	<br>

    <div ng-controller="AlertController" ng-init="msg='text for alert'">

		<!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
	    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal"><i class="fa fa-check"></i>Click to toggle modal
	      <br />
	      <small>(using an object)</small>
	    </button>

    	<h2>Custom Alert Service</h2>
    	<input ng-model="msg" />
	    <button ng-click="message(msg);">Click me</button>
	    <p>{{msg}}</p>

        <h2>select2</h2>
        <div class="row">
            <div class="col-md-2">单选下拉</div>
            <div class="col-md-5">
                <select ui-select2="vm.option1" ng-model="vm.value1" style="width: 100%">
                    <option value="one">First</option>
                    <option value="two">Second</option>
                    <option value="three">Third</option>
                </select>
            </div>
            <div class="col-md-5">{{vm.value1}}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">多选输入</div>
            <div class="col-md-5">
                <input type="text" ui-select2="vm.option2" ng-model="vm.value2" style="width: 100%"/>
            </div>
            <div class="col-md-5">{{vm.value2}}</div>
        </div>

    </div>

	<!--<div class="ueditor" ng-model="content"></div>-->


	<!-- thirdpart components -->
	<script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/components/angular/angular-1.5.8.js"></script>
	<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.css">-->
	<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">-->

    <!--support modal animate effects https://github.com/mgcrea/angular-motion-->
    <!-- 本地mgcrea/angular-motion/还有一份效果不一样的-->
    <!--<link rel="stylesheet" href="/components/angular-motion/dist/angular-motion.css"/>-->
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libs.min.css">

	<!--<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/docs.min.css">-->
	<!--<link rel="stylesheet" href="style.css" />-->
	<!--<script src="//cdn.jsdelivr.net/angularjs/1.5.5/angular.min.js" data-semver="1.5.5"></script>-->
    <!--<script type="text/javascript" src="/components/angular-animate-1.5.9/angular-animate.js"></script>-->
    <script type="text/javascript" src="/components/mgcrea/angular-animate/angular-animate.js"></script>
    <!--<script type="text/javascript" src="/components/mgcrea/angular-animate/angular-animate.min.js"></script>-->
    <script type="text/javascript" src="/components/mgcrea/angular-sanitize/angular-sanitize.min.js"></script>

    <!--<script src="//cdn.jsdelivr.net/angularjs/1.5.5/angular-animate.min.js" data-semver="1.5.5"></script>-->
	<!--<script src="//cdn.jsdelivr.net/angularjs/1.5.5/angular-sanitize.min.js" data-semver="1.5.5"></script>-->
	<!--<script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.8"></script>-->
	<!--<script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.8"></script>-->
	<!--<script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.8"></script>-->

    <!-- Fix BSv4 Uncaught Error: Bootstrap tooltips require Tether (http://github.hubspot.com/tether/)-->
    <!--https://github.com/zzl81cn/tether.git-->
    <!--<script type="text/javascript" src="/components/tether/dist/js/tether.min.js"></script>-->

    <script type="text/javascript" src="/components/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/components/angular-ui/ui-router/angular-ui-router.js"></script>
	<script type="text/javascript" src="/components/angular-strap-2.3.6/dist/angular-strap.js"></script>
	<script type="text/javascript" src="/components/angular-strap-2.3.6/dist/angular-strap.tpl.js"></script>
	<script type="text/javascript" src="/components/select2/select2.js"></script>
	<script type="text/javascript" src="/components/angular-ui-select2/src/select2.js"></script>
	<script type="text/javascript" src="/components/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="/components/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="/components/angular-ueditor.js"></script>

	<!-- end thirdpart components -->

	<!-- custom script -->
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="/Alert/AlertController.js"></script>
	<script type="text/javascript" src="/Alert/alertService.js"></script>
</body>
</html>